extends layout

block head
    title='Marvelous'
    link(rel="stylesheet" href="/stylesheets/index.css")

    block nav
        include navBar.pug

block content
  div(class="row_title")
    div(class="column")
      h1="Marvelous"
      p(class="site_descrip") A spot for all Marvel movie fans.
    div(class="column1")
      h5="Future Releases"
      div(class="feat_movie movie1")
        h4="ETERNALS"
        p Release Date: November 5, 2021
      div(class="feat_movie movie2")
        h4="SPIDER-MAN: NO WAY HOME"
        p Release Date: December 17, 2021
      div(class="feat_movie movie3")
        h4="Doctor Strange In The Multiverse Of Madness"
        p Release Date: March 25, 2022
      div(class="feat_movie movie4")
        h4="Thor: Love And Thunder"
        p Release Date: May 6, 2022
