extends layout.pug
include utils.pug

block head
    title= 'Movies'
    link(rel='stylesheet' href='/stylesheets/movies.css')

    block nav
        include navBar.pug

block content

    h1="All Marvel Movies"
    div(class="movie_container")
        each movie in movies
          a(href=`/movies/${movie.id}`)
            div(class="movie-pack")
                img(src=`${movie.movieImg}` alt='movieImg' class='movieImg')
                ul(class='movie_stats')
                    li= `Title: ${movie.name}`
                    li= `Year: ${movie.releaseYear}`
                    li= `Director: ${movie.director}`
                    li= `Cast: ${movie.cast} `
                form(class="review-form")
                .form-group
                    label(for='review') Review:
                    input#message.form-control(type='review', name="review", placeholder='What did you think?')
                button.btn.btn-primary(type='submit' class='post_button') Post!
