extends layout.pug
include utils.pug

block head
    title= 'Movies'
    link(rel='stylesheet' href='/stylesheets/movies.css')

    block nav
        include navBar.pug

block content
    each movie in movies
        img(src=`${movie.movieImg}` alt='movieImg' class='movieImg')
        li= `Title: ${movie.name}`
        li= `Year: ${movie.releaseYear}`
        li= `Director: ${movie.director}`
        li= `Cast: ${movie.cast} `
        form(class="review-form")
        .form-group
            label(for='review') Review:
            input#message.form-control(type='review', name="review", placeholder='What did you think?')
        button.btn.btn-primary(type='submit') Post!
        br
