extends layout.pug
include utils.pug
    //- .errors-container

block head
    title #{movie.name}
    link(rel='stylesheet' href='/stylesheets/movie.css')

    block nav
        include navBar.pug

block content
    div(class='movieBlock')
        h2 #{movie.name}
        img(src=`${movie.movieImg}` alt='movieImg' class='singleMovieImg')
        br
        label #{movie.description}
        br
        p User Reviews
        each review in reviews
            p #{review.User.username}: #{review.review}
                br
                if review.LikesDislike.rating == true
                    label Rating:
                    img(src='../images/thumbs-up.png', alt="thumbsUp" class='ratingImg')
                else
                    label Rating:
                    img(src='../images/thumbs-down.png', alt='thumbsDown' class='ratingImg')
            //- p Rating: #{review.LikesDislike.rating}
            if locals.authenticated
                if locals.user.id === review.user_id
                    form(method='post' action=`/movies/${review.id}/delete`)
                        button Delete Review
            //- p #{review.likeDislikes_id}
        //- if locals.authenticated
        //-     if locals.user.id === review.user_id
        //-         form(method='delete' action=) WORKING ON DELETE
        br
        if locals.authenticated
            form(method='post' action=`/movies/${movie.id}`)
                input(type='hidden' name='_csrf' value=token)
                br
                label Post a review and leave a rating!
                br
                textarea(id='review' value=review name='review')
                label     Did you like this movie?
                input(type='checkbox' value='true' name='likeDislike')
                br
                button Post
        else
            br
            label Please login to post a review!
    //-insert other comments here
