extends layout.pug

block head
    title="Profile"
    link(rel='stylesheet' href='/stylesheets/profile.css')
    block nav
      include navBar.pug

block content
    div(class='Profile__title')
        h2 Welcome, #{locals.user.username}! Member since #{`${locals.user.createdAt}`.substring(4, 15)}
    div(class='InfoBox')
        br
        //- img(class="avatar" src="https://avatarfiles.alphacoders.com/604/60402.jpg", alt="avatar")
        //- username
        p 📼 #{locals.user.username}'s Marvel Movie Shelf 📼
        p You currently have #{alphabeticalOrderMovieShelf.length} Movies on your shelf

            if alphabeticalOrderMovieShelf
                div(class='movieShelf__div')
                    img(src="../images/shelf.jpg" class='BookShelf' alt="bookshelf")
                    div(class='shelves')
                        each movie in alphabeticalOrderMovieShelf
                            div(class='movie__onShelf')
                                div(class='delete__buttonShelf')
                                  form(method='post' action=`/movies/${movie.Movie.id}/deleteMovieShelfItem`)
                                      button ➖ MovieShelf
                                a(href=`/movies/${movie.movie_id}`)
                                    img(src=`${movie.movieImg}` alt="movie" class='movieImg')
                                div
                                    h3(class='movieProfileName') #{movie.name}
                a(class='backtoTop' href='#top') TOP
            else
                h2 You don't have any movies in your MovieShelf!
                
        //- insert user's favorite movies here (their own library)
        //- p Likes
        //- insert user's liked movies
        //- p Dislikes
        //- insert user's disliked movies
        //- p Reviews
        //- insert user's reviews/comments here?

//- insert hyperlinks at bottom of page
