extends layout.pug

block head
    title="Profile"
    link(rel='stylesheet' href='/stylesheets/profile.css')
    block nav
      include navBar.pug

block content
    h2 Welcome, #{locals.user.username}!
    div(class='InfoBox')
        br
        img(class="avatar" src="https://avatarfiles.alphacoders.com/604/60402.jpg", alt="avatar")
        //- username

        p Followers 300

        p Following 75

        p My MovieShelf
            br
            each movie in alphabeticalOrderMovieShelf
                a(href=`/movies/${movie.movie_id}`)
                    img(src=`${movie.movieImg}`, alt="movie" class='movieImg')
                    p #{movie.title}
        //- insert user's favorite movies here (their own library)
        //- p Likes
        //- insert user's liked movies
        //- p Dislikes
        //- insert user's disliked movies
        //- p Reviews
        //- insert user's reviews/comments here?

//- insert hyperlinks at bottom of page
