extends layout.pug
block head
    title='Sign Up'

include utils.pug

block content
    +validationErrorSummary(errors)
    form(method='post' action='/user/signup')
        input(type='hidden' name='_csrf' value=token)
        label(for='username') Username
        input(type='text' name='username' value=username)
        div
        label(for='email') Email
        input(type='text' name='email' value=email)
        div
        label(for='password') Password
        input(type='password' name='password' value=password)
        div
        button Sign Up
        br
        a(href='/user/login') Already a member? Login here!
