extends layout.pug
block head
    title='Login'

include utils.pug

block content
    +validationErrorSummary(errors)
    form(method='post' action='/user/login')
        input(type='hidden' name='_csrf' value=token)
        br
        label(for='email') Email
        input(type='text' name='email' value=username)
        div
        label(for='password') Password
        input(type='Password' name='password' value=password)
        div
        button Login
        br
        a(class='signup-link' href="/user/signup") Not a member? Sign up here!

    form(method='post' action='/user/login/demo')
        input(type='hidden' name='_csrf', value=token)
        button Demo User
