extends layout.pug
include utils.pug

block head
    title='Sign Up'
    link(rel="stylesheet" href="/stylesheets/forms.css")

    block nav
        include navBar.pug

block content
    div(class="center")
        h1 SignUp
        +validationErrorSummary(errors)
        form(method='post' action='/user/signup')
            div(class="txt_field")
                input(type='hidden' name='_csrf' value=token)
                label(for='username') Username
                input(type='text' name='username' value=username)
            div(class="txt_field")
                label(for='email') Email
                input(type='text' name='email' value=email)
            div(class="txt_field")
                label(for='password') Password
                input(type='password' name='password' value=password)
            div
            button(class="submit_button") Sign Up
            div(class="login_link")
                p Already a member? 
                    a(href='/user/login') Login
