extends layout.pug
include utils.pug

block head
    title='Login'
    link(rel="stylesheet" href="/stylesheets/forms.css")

    block nav
        include navBar.pug

block content
    div(class="center")
        h1 Login
        +validationErrorSummary(errors)
        form(method='post' action='/user/login')
            div(class="txt_field")
                input(type='hidden' name='_csrf' value=token)
                input(type='text' name='email' value=username)
                span
                label(for='email') Email
            div(class="txt_field")
                input(type='password' name='password' value=password)
                span
                label(for='password') Password
            div
            input(class="submit_button" type="submit" value="Login")
            div(class="signup_link")
                p Not a member? 
                    a(href="/user/signup") SignUp!

        div(class="demo")
            form(method='post' action='/user/login/demo')
                input(type='hidden' name='_csrf' value=token)
                button(class="demo_button") Demo User
